services:
  api_gateway:
    build: ./http-api-gateway
    ports:
      - "${PORT}:3000"
    volumes:
      - ./http-api-gateway/src:/usr/src/app/src
      - ./.env:/usr/src/app/.env 
    command: npm run start:dev
    environment:
      - PORT=${PORT}
      - NATS_HOST=${NATS_HOST}
      - DB_TYPE=${DB_TYPE}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DATABASE=${DB_DATABASE}
    depends_on:
      - nats

  camera_microservice:
    build: ./camera-microservice
    volumes:
      - ./camera-microservice/src:/usr/src/app/src
      - ./.env:/usr/src/app/.env
    command: npm run start:dev
    environment:
      - NATS_HOST=${NATS_HOST}
      - DB_TYPE=${DB_TYPE}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DATABASE=${DB_DATABASE}
    depends_on:
      - nats
      - mysql_db

  users_microservice:
    build: ./users-microservice
    volumes:
      - ./users-microservice/src:/usr/src/app/src
      - ./.env:/usr/src/app/.env
    command: npm run start:dev
    environment:
      - NATS_HOST=${NATS_HOST}
      - DB_TYPE=${DB_TYPE}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DATABASE=${DB_DATABASE}
    depends_on:
      - nats
      - mysql_db
#  modules_microservice:
#    build: ./modules-microservice
#    volumes:
#      - ./modules-microservice/src:/usr/src/app/src
#      - ./.env:/usr/src/app/.env
#    command: npm run start:dev
#    environment:
#      - NATS_HOST=${NATS_HOST}
#      - DB_TYPE=${DB_TYPE}
#      - DB_HOST=${DB_HOST}
#      - DB_PORT=${DB_PORT}
#      - DB_USERNAME=${DB_USERNAME}
#      - DB_PASSWORD=${DB_PASSWORD}
#      - DB_DATABASE=${DB_DATABASE}
#    depends_on:
#      - nats
#      - mysql_db
  
#  institute_microservice:
#    build: ./institute-microservice
#    volumes:
#      - ./institute-microservice/src:/usr/src/app/src
#      - ./.env:/usr/src/app/.env
#    command: npm run start:dev
#    environment:
#      - NATS_HOST=${NATS_HOST}
#      - DB_TYPE=${DB_TYPE}
#      - DB_HOST=${DB_HOST}
#      - DB_PORT=${DB_PORT}
#      - DB_USERNAME=${DB_USERNAME}
#      - DB_PASSWORD=${DB_PASSWORD}
#      - DB_DATABASE=${DB_DATABASE}
#    depends_on:
#      - nats
#      - mysql_db

#  incident_microservice:
#    build: ./incident-microservice
#    volumes:
#      - ./incident-microservice/src:/usr/src/app/src
#      - ./incident-microservice/fonts:/usr/src/app/fonts
#    command: npm run start:dev
#    environment:
#      - NATS_HOST=${NATS_HOST}
#      - DB_TYPE=${DB_TYPE}
#      - DB_HOST=${DB_HOST}
#      - DB_PORT=${DB_PORT}
#      - DB_USERNAME=${DB_USERNAME}
#      - DB_PASSWORD=${DB_PASSWORD}
#      - DB_DATABASE=${DB_DATABASE}
#      - AWS_REGION=${AWS_REGION}
#      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
#      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
#      - AWS_S3_BUCKET=${AWS_S3_BUCKET}
#    depends_on:
#      - nats
#      - mysql_db

#  people-management-microservice:
#    build: ./people-management-microservice
#    volumes:
#      - ./people-management-microservice/src:/usr/src/app/src
#    command: npm run start:dev
#    environment:
#      - NATS_HOST=${NATS_HOST}
#      - DB_TYPE=${DB_TYPE}
#      - DB_HOST=${DB_HOST}
#      - DB_PORT=${DB_PORT}
#      - DB_USERNAME=${DB_USERNAME}
#      - DB_PASSWORD=${DB_PASSWORD}
#      - DB_DATABASE=${DB_DATABASE}
#      - AWS_REGION=${AWS_REGION}
#      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
#      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
#      - AWS_S3_BUCKET=${AWS_S3_BUCKET}
#    depends_on:
#      - nats
#      - mysql_db

#  dashboard_microservice:
#    build: ./dashboard-microservice
#    volumes:
#      - ./dashboard-microservice/src:/usr/src/app/src
#      - ./.env:/usr/src/app/.env
#    command: npm run start:dev
#    environment:
#      - NATS_HOST=${NATS_HOST}
#      - DB_TYPE=${DB_TYPE}
#      - DB_HOST=${DB_HOST}
#      - DB_PORT=${DB_PORT}
#      - DB_USERNAME=${DB_USERNAME}
#      - DB_PASSWORD=${DB_PASSWORD}
#      - DB_DATABASE=${DB_DATABASE}
#    depends_on:
#      - nats
#      - mysql_db
  
  nats:
    image: nats
    ports:
      - 4222:4222

  mysql_db:
    image: mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root_password_123
      - MYSQL_DATABASE=nestjs_db
      - MYSQL_USER=testuser
      - MYSQL_PASSWORD=testuser123
      - MYSQL_TCP_PORT=3306